# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Temporary files
temp_data/
*.tmp
*.temp
*.log

# OS specific
.DS_Store
Thumbs.db
Desktop.ini

# Virtual environment
venv/
env/
.venv/

# Docker
.docker/
docker-volumes/

# Editor specific
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/ 